.spinner-container {
    min-height: 100px;
}

.table-scroll-container {
    max-height: 330px;
    overflow-y: auto;
    border-top: 1px solid #e5e5e5;
}

.table-scroll-container thead th {
    position: sticky;
    top: 0;
    background: #fafaf9;
    z-index: 1;
}

.badge-count {
    --sds-c-badge-color-background: #0176d3;
    --sds-c-badge-text-color: #ffffff;
}


.badge-warning {
    --sds-c-badge-color-background: #fe9339;
    --sds-c-badge-text-color: #ffffff;
    font-weight: 600;
}

.badge-danger {
    --sds-c-badge-color-background: #ea001e;
    --sds-c-badge-text-color: #ffffff;
    font-weight: 600;
}

.badge-default {
    --sds-c-badge-color-background: #c9c9c9;
    --sds-c-badge-text-color: #444444;
    font-weight: 600;
}
